<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>

<form th:action="@{/books}" th:method="POST" th:object="${book}">
    <label for="title">Введите название книги: </label>
    <input id="title" th:field="*{title}" type="text">
    <div style="color: red" th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Title errors</div>
    <br/>

    <label for="author">Введите полное имя автора: </label>
    <input id="author" th:field="*{authorName}" type="text">
    <div style="color: red" th:errors="*{authorName}" th:if="${#fields.hasErrors('authorName')}">Title errors</div>
    <br/>

    <label for="year">Введите год публикации: </label>
    <input id="year" th:field="*{publicationYear}" type="number">
    <div style="color: red" th:errors="*{publicationYear}" th:if="${#fields.hasErrors('publicationYear')}">Title
        errors
    </div>
    <br/>

    <input type="submit" value="Добавить">
</form>

</body>
</html>